$icon_profile_light: './../assets/svg/icon-profile-light.svg';
$icon_profile_light-big: './../assets/svg/icon-profile-light-big.svg';
$icon_profile_light-hover: './../assets/svg/icon-profile-light-hover.svg';
$icon_profile_light-hover-little: './../assets/svg/icon-profile-light-hover-little.svg';
$icon_profile_light-hover-big: './../assets/svg/icon-profile-light-hover-big.svg';
$icon_profile_light-little: './../assets/svg/icon-profile-light250.svg';
$icon_logout_light: './../assets/svg/logout_light.svg';
$icon_logout_light-big: './../assets/svg/logout_light-big.svg';
$icon_logout_light-little: './../assets/svg/logout_light-250.svg';
$icon_logout_light-hover: './../assets/svg/logout_light-hover.svg';
$icon_logout_light-hover-big: './../assets/svg/logout_light-hover-big.svg';
$icon_logout_light-hover-little: './../assets/svg/logout_light-hover-250.svg';
$background_light: './../assets/svg/backgroud_light.svg';

$background_dark: './../assets/svg/background_dark.svg';
$icon_profile_dark: './../assets/svg/icon-profile-dark.svg';
$icon_profile_dark-hover: './../assets/svg/icon-profile-dark-hover.svg';
$icon_profile_dark-hover-little: './../assets/svg/icon-profile-dark-hover-little.svg';
$icon_profile_dark-hover-big: './../assets/svg/icon-profile-dark-hover-big.svg';
$icon_profile_dark-big: './../assets/svg/icon-profile-dark-big.svg';
$icon_profile_dark-little: './../assets/svg/icon-profile-dark250.svg';
$icon_logout_dark: './../assets/svg/logout_dark.svg';
$icon_logout_dark-big: './../assets/svg/logout_dark-big.svg';
$icon_logout_dark-little: './../assets/svg/logout_dark-250.svg';
$icon_logout_dark-hover: './../assets/svg/logout_dark-hover.svg';
$icon_logout_dark-hover-big: './../assets/svg/logout_dark-hover-big.svg';
$icon_logout_dark-hover-little: './../assets/svg/logout_dark-hover-250.svg';

$icon-avatar-light: './../assets/svg/icon_user_light.svg';
$icon-avatar-light-little: './../assets/svg/icon_user_light-250.svg';

$icon-avatar-dark: './../assets/svg/icon_user_dark.svg';
$icon-avatar-dark-little: './../assets/svg/icon_user_dark-250.svg';

$red: #F00418;
$red-color: #F00418;
$black: #000000;
$pink: #F08686;
$gray: #999999;
$little_gray: #DAD7D7;
$light_gray: #E4E4E4;
$tr_gray: #A8A7A7;
$inp_gray: #c2bfbf;
$active_gray: #E4E4E4;
$yellow: #FAFF00;
$grey_blue: #646FA1;
$violet: #630086;
$blue: #00408B;
$purple: #7F1581;
$dark_grey: #485380;
$light_purple: #A562DF;
$tr_odd: #55608F;
$dark_purple: #3B0A4F;
$bg_purple: #461888FF;
$bg_blue: #3E18BC;
$tab_purple: #590986FF;
$error_pink: #ff5d5d;
$white: #FFFFFF;
