body {
  background: var(--background);
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  --logo-color: #F00418;
  --background: url("../../assets/svg/backgroud_light.svg");
  --btn-them: url("../../assets/svg/icon_dark.svg");
  --text-color: #000000;
  --text-color-hover: #F08686;
  --bg-dropdawn: #999999;
  --bg-dropdawn-hover: #DAD7D7;
  --opacity-container: 1;
  --border-input-active: solid 2px #FFFFFF;
  --bg-container: #E4E4E4;
  --btn-profile: url('../../assets/svg/icon-profile-light.svg');
  --text-select: #000000;
  --text-btn: #FFFFFF;
  --text-color-label: #F08686;
  --bg-btn: #F00418;
  --border-cont: none;
  --bg-input: #DAD7D7;
  --bg-head-table: #999999;
  --hover-table-color: #FFFFFF;
  --bg-tr-odd: #DAD7D7;
  --bg-tr: #A8A7A7;
  --bg-tab: #999999;
  --btn-form: #F00418;
  --text-btn-form: #FFFFFF;
  --btn-search: url("../../assets/svg/search_black.svg");
}

.dark {
  --background: url('../../assets/svg/background_dark.svg');
  --logo-color: #FFFFFF;
  --btn-them: url("../../assets/svg/icon_light.svg");
  --text-color: #FFFFFF;
  --text-color-hover: #FAFF00;
  --bg-dropdawn: #646FA1;
  --bg-dropdawn-hover: #C9C0C0;
  --border-input-active: solid 2px #DBFF00;
  --opacity-container: 0.8;
  --text-color-label: #FFFFFF;
  --bg-container: linear-gradient(#630086, #00408B);
  --btn-profile: url('../../assets/svg/icon-profile-dark.svg');
  --text-select: #7F1581;
  --text-btn: #7F1581;
  --bg-btn: #FFFFFF;
  --border-cont: solid #FFFFFF;
  --bg-input: #FFFFFF;
  --bg-head-table: #485380;
  --hover-table-color: #A562DF;
  --bg-tr-odd: #55608F;
  --bg-tr: #646FA1;
  --bg-tab: #3B0A4F;
  --btn-form: #FFFFFF;
  --text-btn-form: #000000;
  --btn-search: url("../../assets/svg/search_white.svg");
}

.nav-container {
  display: flex;
  margin: 15px;

  &__logo {
    font-size: 50px;
    color: var(--logo-color);
    margin-left: 25px;
    margin-right: 70%;
  }

  &__modal {
    background: var(--bg-container);
    display: none;
    position: fixed;
    z-index: 1;
    overflow: auto;
    left: 30%;
    top: 20%;
    color: var(--text-color);
    border-radius: 20px;
    text-align: center;

    &--title {
      display: inline-block;
      align-content: center;
      margin: 20px;
    }

    &--closed {
      cursor: pointer;
      display: inline-block;
      float: right;
      margin-top: 5px;
      margin-right: 15px;
      font-size: 28px;
      font-weight: bold;
    }

    &--content-modal {
      width: 550px;
      height: auto;
    }

    &--tab-menu {
      display: flex;
      padding: 0;
      margin: 0;
    }

    &--tab-link {
      text-align: center;
      width: 50%;
      padding: 25px;
      background: var(--bg-tab);
      border-radius: 30px 30px 0 0;
      height: 30px;
      cursor: pointer;
      display: block;
      text-decoration: none;
      color: var(--text-color);
    }

    .active {
      color: var(--text-color-hover);
      background: var(--bg-container);
    }

    &--tab-content {
      text-align: left;
      display: flex;
      width: 80%;
      margin: 0 auto;
    }

    &--form-login {
      width: 100%;
    }

    &--label {
      display: block;
      color: var(--text-color-label);
      padding: 10px;
    }

    &--input {
      display: block;
      height: 25px;
      margin: 0 auto;
      border-radius: 10px;
      border: none;
      padding: 8px;
      background: #BEBDBD;
      width: 100%;

      &:focus {
        outline: none;
        border: var(--border-input-active);
      }

      &:invalid {
        border: solid 2px #F00418;
      }
    }

    &--button {
      border: none;
      border-radius: 8px;
      width: 38%;
      margin-bottom: 25px;
      padding: 8px;
      font-family: 'Montserrat', sans-serif;
      font-size: 15px;
      background: var(--btn-form);
      color: var(--text-btn-form);
    }
  }

  &__buttons {
    display: flex;
    align-items: center;

    &--profile {
      background: var(--btn-profile);
      cursor: pointer;
      border: none;
      width: 35px;
      height: 35px;
      margin: 15px;
      padding: 10px;
    }

    &--select {
      color: var(--text-color);
      background: transparent;
      border: none;
      padding: 10px;
      font-family: 'Montserrat', sans-serif;
      font-size: 20px;
      cursor: pointer;
    }
  }
}

.container {
  background: var(--bg-container);
  border-radius: 15px;
  margin: 0px 35px;
  opacity: var(--opacity-container);
  border: var(--border-cont);

  &__content {
    display: flex;
    height: 95px;

    &--selects {
      margin-top: 30px;
      margin-left: 30px;
      width: 25%;
    }

    &--list {
      border-radius: 10px;
      font-family: 'Montserrat', sans-serif;
      font-size: 15px;
      border: none;
      margin-right: 20px;
      padding: 8px;
      width: 135px;
      color: var(--text-select);
      cursor: pointer;

      &:active {
        border: none;
      }
    }

    &--option {
      border: none;
      background: #DBFF00;
      margin: 55px;
    }

    &--panel {
      text-align: center;
      margin: 30px auto;
      width: 50%;
    }

    &--btn {
      border-radius: 20px;
      border: none;
      font-family: 'Montserrat', sans-serif;
      font-size: 15px;
      padding: 8px;
      width: 115px;
      color: var(--text-btn);
      background: var(--bg-btn);
      cursor: pointer;

      &:hover {

      }

      &:active {

      }
    }

    &--search {
      margin: 30px 10px 30px 30px;
      border: none;
      padding: 8px;
      font-family: 'Montserrat', sans-serif;
      font-size: 15px;
      border-radius: 20px;
      background: var(--bg-input);
      opacity: 0.5;
      width: 15%;
    }

    &--search-btn {
      background: var(--btn-search);
      cursor: pointer;
      border: none;
      width: 45px;
      height: 45px;
      margin: 25px 40px 30px 0;
      padding: 10px;
    }
  }

  &__data {
    border: var(--border-cont);
    border-radius: 15px;
    margin: 25px;


    &--table {
      border-radius: 15px;
      border-collapse: collapse;
      overflow: hidden;
      color: var(--text-color);
      font-size: 15px;
    }

    &--items-head {
      background-color: var(--bg-head-table);
      padding: 15px;
      width: 150px;

      &:nth-of-type(odd) {
        border-right: 1px solid #FFFFFF;
      }

      &:nth-of-type(even) {
        border-right: 1px solid #FFFFFF;
      }

      &:nth-of-type(8) {
        border-right: none;
      }
    }

    &--items-body {
      padding: 15px;

      &:nth-child(odd) {
        border-right: 1px solid #FFFFFF;
      }

      &:nth-of-type(even) {
        border-right: 1px solid #FFFFFF;
      }
    }

    &--tr {
      background: var(--bg-tr);

      &:nth-of-type(odd) {
        background: var(--bg-tr-odd);
        border-right: 1px solid #FFFFFF;
      }

      &:nth-of-type(even) {
        border-right: 1px solid #FFFFFF;
      }

      &:hover {
        background: var(--hover-table-color);
      }
    }
  }
}
